
.store-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid white;
    border-radius: 0.5rem;
    background: white;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 1450px) {
    .store-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 1000px) {
    .store-container {
        grid-template-columns: repeat(1, 1fr);
    }
  }