header {
    display:  flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;
    height: 5rem;
    border-bottom: 1rem black solid;
    color: black;
}

.banner-title {
    margin-left: 5rem;
    color: black;
    font-size: 22px;
    font-weight: bold;
}


.right {
    position: absolute;
    right: 0;
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

.banner-car-status {
    border: black 2px solid;
    border-radius: 0.3rem;
    width: 2rem;
    color:  black;
}

.total-amount-container {
    margin-left: 1rem;
}

i {
    margin: 0 3rem;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

i:hover{
    color:gold
}

header img {
    margin-left: 5rem;
    width: 5rem;
}


