footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background: white;
    height: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

small {
    color: black;
    font-weight: bold;
}

