/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-container {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  min-height: 100vh;
}


button {
  width: 30%;
  height: 2.5rem; 
  color: white;
  border-radius: 0.5rem;
}

button:hover {
  width: 35%;
  height: 2.5rem; 

}

.log-in-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  width: 40%;
  align-self: center;
}

label {
  text-align: start;
}

form button {
  align-self: center;
}

#root {
  min-height: 100vh;
  width:100%;
  padding: 10rem 0;
  position: relative;
}

span {
  padding: 1rem;
  font-size: 14px;
  color: gray;
}

.log-in-container p {
  padding: 1rem;
  font-size: 14px;
  color: gray;
}

.signup  {
  padding-left: 0 !important;
  font-style: italic !important;
  text-decoration: underline;
  cursor: pointer;
}

.signup:hover  {
  font-style: normal !important;
  color: rgb(238, 96, 231);;
  text-decoration: none;
  font-size: 20px;
}